@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  /*overflow: hidden;*/
}

body {
  background-color: #E5E5E5;

}

h1 {
  color: white;
  font-size: 40px;
  margin-top: 30px;
}

h2 {
  color: white;
  font-size: 28px;
}

.container {
  max-width: 1190px;
  min-width: 815px;
  margin: 5px auto;
  background-color: white;
  display: flex;
  box-shadow: 0 0 5px gray;
}

.left {
  width: 33.33%;
  background-color: #174180;
  padding: 30px;
}

.right {
  width: 66.66%;
  padding: 0 40px;

}

.contacts {
  color: #56CCF2;


}

img {
  border-radius: 50%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #56CCF2;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #56CCF2;
}

ul.contacts {
  margin-top: 7px;
  padding: 15px;
  list-style: none inside none;
  font-size: 20px;
}

ul.contacts > li {
  margin-top: 8px;
}

li.mail_icon:before {
  font-family: 'FontAwesome';
  content: '\f0e0';
  margin: 0 15px 0 -15px;
  color: #56CCF2;
}

li.tel_icon:before {
  font-family: 'FontAwesome';
  content: '\f879';
  margin: 0 15px 0 -15px;
  color: #56CCF2;
}

li.telegram_icon:before {
  font-family: 'FontAwesome';
  content: '\f3fe';
  margin: 0 15px 0 -15px;
  color: #56CCF2;
}

li.github_icon:before {
  font-family: 'FontAwesome';
  content: '\f09b';
  margin: 0 15px 0 -15px;
  color: #56CCF2;
}

li.location_icon:before {
  font-family: 'FontAwesome';
  content: '\f3c5';
  margin: 0 15px 0 -15px;
  color: #56CCF2;
}

.bio {
  color: white;
  font-size: 16px;
  margin-top: 15px;
}

.textcolumns {
  column-count: 2;
}

h2.skills {
  color: #56CCF2;
  margin-top: 30px;
  font-weight: 700;
}

h2.education {
  color: #174180;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
}

.education_ul {
  overflow: auto;
  padding: 0;
  list-style-position: outside;
  list-style-type: none;
}

.education_ul li:before {
  color: #56CCF2;
  content: "•";
  padding-right: 10px;
}

.education_ul li {
  margin-top: 10px;
  clear: both;
  font-size: 24px;
  font-weight: 700;
  color: #4F4F4F;
}

.education_ul span {
  float: right;
  font-weight: 600;
  font-style: italic;
  /*white-space: nowrap; */
}

.education_p {
  padding: 5px 0 0 20px;
  font-size: 24px;
  color: #828282;
}

.code {
  padding-top: 5px;
  font-size: 24px;
  color: #4F4F4F;
}

.code_p {
  padding-top: 5px;
  font-style: italic;
  color: #4F4F4F;
}

pre {
  background-color: #56CCF2;
  padding: 15px;
  margin: 15px 0;
  border-left: 5px solid #174180;
}