* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  background-color: #E5E5E5;
}

h1 {
  margin-top: 30px;
  font-size: 40px;
  color: #ffffff;
}

h2 {
  font-size: 28px;
  color: #ffffff;
}

.container {
  display: flex;
  width: 1190px;
  /*  max-width: 1190px;
    min-width: 815px;*/
  margin: 5px auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px gray;
}

.left {
  width: 33.33%;
  padding: 30px;
  background-color: #174180;
}

.right {
  width: 66.66%;
  margin: 0 40px;
  position: relative;
}

.contacts {
  color: #56CCF2;
}

.my_photo {
  width: 100%;
  border-radius: 50%;
}

ul a {
  text-decoration: none;
  color: #56CCF2;
}

ul a:hover {
  text-decoration: underline;
}

ul a:visited {
  color: #56CCF2;
}

ul.contacts {
  margin-top: 7px;
  padding: 15px;
  list-style: none inside none;
  font-size: 20px;
}

ul.contacts > li {
  margin-top: 8px;
}

li.mail_icon:before {
  margin: 0 15px 0 -15px;
  font-family: 'FontAwesome';
  content: '\f0e0';
  color: #56CCF2;
}

li.tel_icon:before {
  margin: 0 15px 0 -15px;
  font-family: 'FontAwesome';
  content: '\f879';
  color: #56CCF2;
}

li.telegram_icon:before {
  margin: 0 15px 0 -15px;
  font-family: 'FontAwesome';
  content: '\f3fe';
  color: #56CCF2;
}

li.github_icon:before {
  margin: 0 15px 0 -15px;
  font-family: 'FontAwesome';
  content: '\f09b';
  color: #56CCF2;
}

li.location_icon:before {
  margin: 0 15px 0 -15px;
  font-family: 'FontAwesome';
  content: '\f3c5';
  color: #56CCF2;
}

.bio {
  margin-top: 15px;
  color: white;
  font-size: 16px;
}

.textcolumns {
  padding: 0;
  column-count: 2;
  list-style-type: none;
}

h2.skills {
  margin-top: 30px;
  font-weight: 700;
  color: #56CCF2;
}

h2.education {
  margin-top: 60px;
  color: #174180;
  font-size: 32px;
  font-weight: 700;
}

.education_ul {
  overflow: auto;
  padding: 0;
  list-style-position: outside;
  list-style-type: none;
}

.education_ul li:before {
  padding-right: 10px;
  color: #56CCF2;
  content: "•";
}

.education_ul li {
  margin-top: 10px;
  clear: both;
  font-size: 24px;
  font-weight: 700;
  color: #4F4F4F;
}

.education_ul span {
  float: right;
  font-weight: 600;
  font-style: italic;
}

.education_p {
  padding: 5px 0 0 20px;
  font-size: 24px;
  color: #828282;
}

.code {
  padding-top: 5px;
  font-size: 24px;
  color: #4F4F4F;
}

.code_p {
  padding-top: 5px;
  font-style: italic;
  color: #4F4F4F;
}

pre {
  padding: 15px;
  margin: 15px 0;
  border-left: 5px solid #174180;
  background-color: #56CCF2;
}

.footer {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.svg {
  height: 40px;
}